<h1 mat-dialog-title>Create New Match</h1>
<div mat-dialog-content>
  <form (ngSubmit)="onSubmit()">
    <!-- Team 1 Select -->
    <mat-form-field>
      <mat-label>Team 1</mat-label>
      <mat-select [(ngModel)]="matchForm.team1" name="team1" required>
        <mat-option *ngFor="let team of teams" [value]="team._id">{{ team.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Team 2 Select -->
    <mat-form-field>
      <mat-label>Team 2</mat-label>
      <mat-select [(ngModel)]="matchForm.team2" name="team2" required>
        <mat-option *ngFor="let team of teams" [value]="team._id">{{ team.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Start Date Input -->
    <mat-form-field>
      <mat-label>Start Date</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="matchForm.startDate" name="startDate" required />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <!-- Place Input -->
    <mat-form-field>
      <mat-label>Place</mat-label>
      <input matInput [(ngModel)]="matchForm.place" name="place" required />
    </mat-form-field>

    <!-- Submit Button -->
    <button mat-button type="submit">Create Match</button>
  </form>
</div>
