<ul *ngIf="equipos.length > 0; else noTeams" class="list-group">
    <li *ngFor="let equipo of equipos" class="list-group-item d-flex justify-content-between align-items-center">
      <!-- Contenedor para la imagen y el nombre del equipo -->
      <div class="team-info">
        <img src="https://cdn-icons-png.flaticon.com/512/2718/2718297.png" alt="{{ equipo.name }} Logo" class="rounded-circle" width="50" height="50">
        <span>{{ equipo.name }}</span> <!-- Nombre dinámico -->
      </div>
      
      <!-- Contenedor para los badges alineados a la derecha -->
      <div class="d-flex flex-column align-items-end">
        <span class="badge bg-success rounded-pill mb-1">Pos: 1º</span> <!-- Valor estático -->
        <span class="badge bg-info rounded-pill mb-1">10 Ganados</span> <!-- Valor estático -->
        <span class="badge bg-warning rounded-pill mb-1">Goles: 25</span> <!-- Valor estático -->
        <span class="badge bg-danger rounded-pill">Próximo partido: Hoy</span> <!-- Valor estático -->
      </div>
    </li>
  </ul>
  
  <ng-template #noTeams>
    <p>No teams available.</p>
  </ng-template>
  