<div id="sidebar" class="sidebar expanded">
    <div class="offcanvas-body p-0">
      <div class="list-group list-group-flush">
        <a href="../home" routerLinkActive="active" class="list-group-item list-group-item-action text-center">
          <i class="bi bi-house"></i> 
          <span class="item-text">Home</span>
        </a>
        <a routerLink="/partidos" class="list-group-item list-group-item-action text-center">
          <i class="bi bi-list-check"></i> 
          <span class="item-text">Partidos</span>
        </a>
        <a routerLink="/miembros" class="list-group-item list-group-item-action text-center">
          <i class="bi bi-people-fill"></i> 
          <span class="item-text">Miembros</span>
        </a>
        <a href="../torneos"routerLinkActive="active" class="list-group-item list-group-item-action text-center">
          <i class="bi bi-plus-square ms-2"></i> 
          <span class="item-text">Torneos</span>
        </a>
        <ul *ngIf="leagues$ | async as leagues; else loading">
          <span *ngFor="let league of leagues" class="list-group-item list-group-item-action text-center">
            <a [routerLink]="['/home', league.id, league.name]" routerLinkActive="active" class="list-group-item list-group-item-action text-center">
              {{ league.name }}
            </a>
          </span>
        </ul>
        <ng-template #loading>Loading...</ng-template>
        
      </div>
    </div>
  </div>
  

  