
  .list-group-item {
    padding: 1rem; /* Ajusta el padding según sea necesario */
  }
  
  .list-group-item i {
    font-size: 1.11115rem; /* Ajusta el tamaño del icono según sea necesario */
  }
  
  .list-group-item .item-text {
    display: inline-block;
    margin-left: 5px;
    font-size: 1rem; /* Ajusta el tamaño del texto según sea necesario */
  }
  
  .sidebar.minimized .item-text {
    display: none;
  }