<div id="sidebar" class="sidebar expanded">
  <div class="offcanvas-body p-0">
    <div class="list-group list-group-flush">
      <a href="#" class="list-group-item list-group-item-action text-center">
        <i class="bi bi-house"></i> <!-- Icono de Home -->
        <span class="item-text">Home</span>
      </a>
      <a href="#" class="list-group-item list-group-item-action text-center">
        <i class="bi bi-list-check"></i> <!-- Icono de Partidos -->
        <span class="item-text">Partidos</span>
      </a>
      <a href="#" class="list-group-item list-group-item-action text-center">
        <i class="bi bi-people-fill"></i> <!-- Icono de Miembros -->
        <span class="item-text">Miembros</span>
      </a>
      <div class="list-group-item list-group-item-action text-center">
        <span class="item-text">Torneos</span>
        <i class="bi bi-plus-square ms-2"></i> <!-- Icono de agregar -->
      </div>
      <a href="#" class="list-group-item list-group-item-action text-center">
        <i class="bi bi-building"></i> <!-- Icono de Intramuros -->
        <span class="item-text">Intramuros</span>
      </a>
      <a href="#" class="list-group-item list-group-item-action text-center">
        <i class="bi bi-award"></i> <!-- Icono de Torneo Prepa -->
        <span class="item-text">Torneo Prepa</span>
      </a>
      <a href="#" class="list-group-item list-group-item-action text-center">
        <i class="bi bi-shield"></i> <!-- Icono de Segunda División MX -->
        <span class="item-text">Segunda División MX</span>
      </a>
    </div>
  </div>
</div>