
  
.list-group-item {
  padding: 1rem; /* Ajusta el padding según sea necesario */
}

.list-group-item i {
  font-size: 1.5rem; /* Ajusta el tamaño del icono según sea necesario */
}

.list-group-item .item-text {
  display: inline-block;
  margin-left: 10px;
}

.scorelink {
  font-size: 2.0rem; /* Ajusta el tamaño del texto según sea necesario */
  font-family: 'Helvetica Black Oblique', sans-serif; /* Aplica la fuente Helvetica Black Oblique */
  font-weight: 900; /* Asegura que el texto sea negro */
  font-style: oblique; /* Aplica el estilo oblique */
}