<nav class="navbar navbar-light">
  <div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center w-100">
      <a class="navbar-brand d-flex align-items-center scorelink" id="toggleSidebar">
        <i class="bi bi-trophy-fill  text-warning"></i> 
        ScoreLink
        <i class="bi bi-list ms-3"></i> <!-- Sidebar icon -->
      </a>
      <!-- Menú de usuario a la derecha -->
      <ul class="navbar-nav d-flex flex-row align-items-center">
        <li class="nav-item me-3">
          <img src="https://github.com/DavidCantuDelgado.png" alt="profile pic" class="rounded-circle" width="40" height="40">
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" href="">David Cantu</a>
        </li>
        <li class="nav-item">
          <button class="btn p-0">
            <i class="bi bi-chevron-down"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>