
  /* Navbar Styling */
.navbar {
    position: fixed; /* Mantiene la barra en la parte superior */
    top: 0;
    width: 100%; /* Asegura que ocupe todo el ancho de la página */
    z-index: 1050; /* Más alto que el sidebar para que esté encima */
    background-color: #f8f9fa; /* Fondo claro para la barra de navegación */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombras para darle un efecto flotante */
}

/* Ajusta el margen superior para el contenido */
.content-wrapper {
    margin-top: 60px; /* Deja espacio para el navbar, ajusta este valor según la altura del navbar */
}

.list-group-item {
  padding: 1rem; /* Ajusta el padding según sea necesario */
}

.list-group-item i {
  font-size: 1.5rem; /* Ajusta el tamaño del icono según sea necesario */
}

.list-group-item .item-text {
  display: inline-block;
  margin-left: 10px;
}

.scorelink {
  font-size: 2.0rem; /* Ajusta el tamaño del texto según sea necesario */
  font-family: 'Helvetica Black Oblique', sans-serif; /* Aplica la fuente Helvetica Black Oblique */
  font-weight: 900; /* Asegura que el texto sea negro */
  font-style: oblique; /* Aplica el estilo oblique */
}