* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5; /* Cambiado a color de fondo neutral */
}

.wrapper {
  width: 420px;
  background: white; /* Fondo blanco sólido */
  border: 2px solid rgba(0, 0, 0, 0.2); /* Borde negro suave */
  border-radius: 12px;
  padding: 30px 40px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
  color: #000;
}

.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: #f5f5f5;
  border: 2px solid rgba(0, 0, 0, .2);
  border-radius: 40px;
  font-size: 16px;
  color: #000;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
  color: #888; /* Placeholder en gris claro */
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 30%;
  transform: translate(-50%);
  font-size: 20px;
  color: #000;
}

.wrapper .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.remember-forgot label input {
  accent-color: #000;
  margin-right: 3px;
}

.remember-forgot a {
  color: #000;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.wrapper .btn {
  width: 100%;
  height: 45px;
  background: #000; /* Botón negro */
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #fff; /* Texto blanco */
  font-weight: 600;
}

.wrapper .btn i {
  margin-right: 10px; /* Espacio entre el ícono y el texto */
}

.google-btn {
  background-color: #4285F4; /* Botón estilo Google */
}

.google-btn i {
  color: white; /* Ícono blanco */
}

.google-btn:hover {
  background-color: #357ae8;
}

.wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.register-link p a {
  color: #000;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}
