<div *ngIf="finishedMatches.length > 0; else noMatches">
    <div *ngFor="let match of finishedMatches" class="card mb-3">
      <div class="card-body">
        <h5 class="card-title text-center">
          <strong>{{ match.teams.team1.name }}</strong> 
          <span class="mx-2">{{ match.score.team1 }} - {{ match.score.team2 }}</span> 
          <strong>{{ match.teams.team2.name }}</strong>
        </h5>
        <p class="card-text text-center text-muted">Final</p>
        <p class="text-center text-muted">{{ match.startDate | date: 'longDate' }}</p> <!-- Fecha formateada -->
      </div>
    </div>
  </div>
  
  <ng-template #noMatches>
    <p>No finished matches available.</p>
  </ng-template>
  