<!-- Navbar -->
<app-navbar></app-navbar>

<div class="container-fluid">
  <div class="row">
    <!-- Barra lateral con lista de torneos -->
    <div class="col-3">
      <app-torneo-list></app-torneo-list>
    </div>

    <!-- Sección principal con equipos, próximos partidos y resultados -->
    <div class="col-9">
      <div class="row">
        <div class="col-6">
          <app-equipos></app-equipos>
        </div>
        <div class="col-6">
          <app-proximos-partidos></app-proximos-partidos>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <app-resultados></app-resultados>
        </div>
      </div>
    </div>
  </div>
</div>
