<!-- Conditionally show the navbar and sidebar on specific routes -->
<div *ngIf="router.url !== '/login' && router.url !== '/sign-up'">
  <!-- Navbar -->
  <app-navbar></app-navbar>

  <div class="container-fluid">
    <!-- Sidebar and main section are now direct siblings -->
    <div id="sidebar" class="sidebar col-2">
      <app-torneo-list></app-torneo-list>
    </div>

    <!-- Sección principal con contenido dinámico -->
    <div id="main-section" class="main-section col-10">
      <router-outlet></router-outlet> <!-- Aquí se cargará el contenido dinámico -->
    </div>
  </div>
</div>

<!-- Always show the dynamic content routed via router-outlet -->
<div *ngIf="router.url === '/login' || router.url === '/sign-up'">
  <router-outlet></router-outlet>
</div>
