<div class="col-10">
  <h1>League: {{ name }}</h1>
    <div class="row">
      <div class="col-4">
        <div class="list-container">
          <app-equipos [leagueId]="id"></app-equipos>
        </div>
      </div>
      <div class="col-4">
        <div class="list-container">
            <app-proximos-partidos [leagueId]="id"></app-proximos-partidos>  <!-- Pasamos el id de la liga -->
        </div>
      </div>
      <div class="col-4">
        <div class="list-container">
          <app-resultados [leagueId]="id"></app-resultados>
        </div>
      </div>
    </div>
  </div>